## 6. Working with DataFrame

In [4]:
import pandas as pd
data = pd.read_csv('students.csv', encoding='utf8')
data

,Mã học sinh,Họ tên,Ngày sinh,Giới tính,Quê quán,Toán,Lý,Hoá,Sinh,Văn,Sử,Địa,Tiếng Anh
0,20205210,Nguyễn Đức Bình,3/10/2000,Nam,Hà Nội,7.0,8.0,8.8,6.8,4.0,5.4,5.6,8.5
1,20205211,Lê Minh Hoàng,2/11/2001,Nam,Quảng Bình,5.6,7.7,6.0,7.0,6.5,6.0,3.4,9.0
2,20205212,Trần Trang Nhung,7/5/2002,Nữ,Hà Nam,4.2,6.5,5.4,8.0,7.0,7.5,4.3,5.5
3,20205213,Nguyễn Thị Linh,12/17/2000,Nữ,Bắc Ninh,8.0,5.6,6.5,7.0,7.5,6.5,5.6,6.0
4,20205214,Đặng Ngọc Sơn,1/25/2000,Nam,Thái Bình,9.3,5.8,7.5,4.5,6.5,4.5,7.8,3.8
5,20205215,Hà Trung Kiên,4/3/2000,Nam,Hà Nội,5.6,7.0,5.6,5.0,6.4,3.8,8.0,4.9
6,20205216,Võ Hoàng Yến,6/21/2000,Nữ,Nam Định,6.7,6.8,7.3,6.0,6.7,8.0,9.5,7.6
7,20205217,Hoàng Trung Sơn,8/27/2000,Nam,Bắc Ninh,7.5,9.0,7.0,2.0,5.2,2.0,7.0,6.5
8,20205218,Nguyễn Văn Thành,5/20/2000,Nam,Hà Nội,7.0,7.4,6.4,9.0,8.5,9.2,8.4,7.8
9,20205219,Nguyễn Thanh Oai,5/25/2000,Nam,Hà Nội,8.2,7.0,8.7,6.5,4.8,4.6,4.8,5.5

In [3]:
type(data)

pandas.core.frame.DataFrame

In [6]:
data['Khối A'] = data['Toán'] + data['Lý'] + data['Hoá']
data

,Mã học sinh,Họ tên,Ngày sinh,Giới tính,Quê quán,Toán,Lý,Hoá,Sinh,Văn,Sử,Địa,Tiếng Anh,Khối A
0,20205210,Nguyễn Đức Bình,3/10/2000,Nam,Hà Nội,7.0,8.0,8.8,6.8,4.0,5.4,5.6,8.5,23.8
1,20205211,Lê Minh Hoàng,2/11/2001,Nam,Quảng Bình,5.6,7.7,6.0,7.0,6.5,6.0,3.4,9.0,19.3
2,20205212,Trần Trang Nhung,7/5/2002,Nữ,Hà Nam,4.2,6.5,5.4,8.0,7.0,7.5,4.3,5.5,16.1
3,20205213,Nguyễn Thị Linh,12/17/2000,Nữ,Bắc Ninh,8.0,5.6,6.5,7.0,7.5,6.5,5.6,6.0,20.1
4,20205214,Đặng Ngọc Sơn,1/25/2000,Nam,Thái Bình,9.3,5.8,7.5,4.5,6.5,4.5,7.8,3.8,22.6
5,20205215,Hà Trung Kiên,4/3/2000,Nam,Hà Nội,5.6,7.0,5.6,5.0,6.4,3.8,8.0,4.9,18.2
6,20205216,Võ Hoàng Yến,6/21/2000,Nữ,Nam Định,6.7,6.8,7.3,6.0,6.7,8.0,9.5,7.6,20.8
7,20205217,Hoàng Trung Sơn,8/27/2000,Nam,Bắc Ninh,7.5,9.0,7.0,2.0,5.2,2.0,7.0,6.5,23.5
8,20205218,Nguyễn Văn Thành,5/20/2000,Nam,Hà Nội,7.0,7.4,6.4,9.0,8.5,9.2,8.4,7.8,20.8
9,20205219,Nguyễn Thanh Oai,5/25/2000,Nam,Hà Nội,8.2,7.0,8.7,6.5,4.8,4.6,4.8,5.5,23.9

In [4]:
# Drop column > xóa những cột thông tin không cần thiết, lưu ở một chỗ khác
df = data.drop(columns = ['Họ tên', 'Ngày sinh', 'Quê quán'])
df

   Mã học sinh Giới tính  Toán   Lý  Hoá  Sinh  Văn  Sử   Địa  Tiếng Anh
0     20205210       Nam   7.0  8.0  8.8   6.8  4.0  5.4  5.6        8.5
1     20205211       Nam   5.6  7.7  6.0   7.0  6.5  6.0  3.4        9.0
2     20205212        Nữ   4.2  6.5  5.4   8.0  7.0  7.5  4.3        5.5
3     20205213        Nữ   8.0  5.6  6.5   7.0  7.5  6.5  5.6        6.0
4     20205214       Nam   9.3  5.8  7.5   4.5  6.5  4.5  7.8        3.8
5     20205215       Nam   5.6  7.0  5.6   5.0  6.4  3.8  8.0        4.9
6     20205216        Nữ   6.7  6.8  7.3   6.0  6.7  8.0  9.5        7.6
7     20205217       Nam   7.5  9.0  7.0   2.0  5.2  2.0  7.0        6.5
8     20205218       Nam   7.0  7.4  6.4   9.0  8.5  9.2  8.4        7.8
9     20205219       Nam   8.2  7.0  8.7   6.5  4.8  4.6  4.8        5.5

In [13]:
# lưu file
df.to_csv('studentsA.csv', encoding='utf-8')

In [12]:
# lưu file cho ngôn ngữ tiếng việt
df.to_csv('studentsB.csv', encoding='utf-8-sig')

In [10]:
pwd

'C:\\Users\\vai1hc\\Module 2'

### Chỉnh sửa cấu trúc bộ dữ liệu

#### Đổi tên cột, index

In [14]:
df.head(3)

,Mã học sinh,Giới tính,Toán,Lý,Hoá,Sinh,Văn,Sử,Địa,Tiếng Anh,Khối A
0,20205210,Nam,7.0,8.0,8.8,6.8,4.0,5.4,5.6,8.5,23.8
1,20205211,Nam,5.6,7.7,6.0,7.0,6.5,6.0,3.4,9.0,19.3
2,20205212,Nữ,4.2,6.5,5.4,8.0,7.0,7.5,4.3,5.5,16.1

In [16]:
# inplace= True: những thay đổi mới tác động trực tiếp lên DataFrame
df.rename(columns={'Văn': 'Ngữ Văn', 'Tiếng Anh': 'Anh Văn'}, inplace = True)
df.head(3)

,Mã học sinh,Giới tính,Toán,Lý,Hoá,Sinh,Ngữ Văn,Sử,Địa,Anh Văn,Khối A
0,20205210,Nam,7.0,8.0,8.8,6.8,4.0,5.4,5.6,8.5,23.8
1,20205211,Nam,5.6,7.7,6.0,7.0,6.5,6.0,3.4,9.0,19.3
2,20205212,Nữ,4.2,6.5,5.4,8.0,7.0,7.5,4.3,5.5,16.1

In [7]:
df.columns

Index(['Mã học sinh', 'Giới tính', 'Toán', 'Lý', 'Hoá', 'Sinh', 'Văn', 'Sử ',
       'Địa', 'Tiếng Anh'],
      dtype='object')

In [6]:
df.values

array([[20205210, 'Nam', 7.0, 8.0, 8.8, 6.8, 4.0, 5.4, 5.6, 8.5],
       [20205211, 'Nam', 5.6, 7.7, 6.0, 7.0, 6.5, 6.0, 3.4, 9.0],
       [20205212, 'Nữ', 4.2, 6.5, 5.4, 8.0, 7.0, 7.5, 4.3, 5.5],
       [20205213, 'Nữ', 8.0, 5.6, 6.5, 7.0, 7.5, 6.5, 5.6, 6.0],
       [20205214, 'Nam', 9.3, 5.8, 7.5, 4.5, 6.5, 4.5, 7.8, 3.8],
       [20205215, 'Nam', 5.6, 7.0, 5.6, 5.0, 6.4, 3.8, 8.0, 4.9],
       [20205216, 'Nữ', 6.7, 6.8, 7.3, 6.0, 6.7, 8.0, 9.5, 7.6],
       [20205217, 'Nam', 7.5, 9.0, 7.0, 2.0, 5.2, 2.0, 7.0, 6.5],
       [20205218, 'Nam', 7.0, 7.4, 6.4, 9.0, 8.5, 9.2, 8.4, 7.8],
       [20205219, 'Nam', 8.2, 7.0, 8.7, 6.5, 4.8, 4.6, 4.8, 5.5]],
      dtype=object)

In [8]:
# Số thứ tự của hàng
df.index

RangeIndex(start=0, stop=10, step=1)

In [19]:
index={i:10*i for i in range(10)}
index

{0: 0, 1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60, 7: 70, 8: 80, 9: 90}

In [10]:
df.rename(index={i:10*i for i in range(10)}, inplace=True)

In [11]:
df

    Mã học sinh Giới tính  Toán   Lý  Hoá  Sinh  Văn  Sử   Địa  Tiếng Anh
0      20205210       Nam   7.0  8.0  8.8   6.8  4.0  5.4  5.6        8.5
10     20205211       Nam   5.6  7.7  6.0   7.0  6.5  6.0  3.4        9.0
20     20205212        Nữ   4.2  6.5  5.4   8.0  7.0  7.5  4.3        5.5
30     20205213        Nữ   8.0  5.6  6.5   7.0  7.5  6.5  5.6        6.0
40     20205214       Nam   9.3  5.8  7.5   4.5  6.5  4.5  7.8        3.8
50     20205215       Nam   5.6  7.0  5.6   5.0  6.4  3.8  8.0        4.9
60     20205216        Nữ   6.7  6.8  7.3   6.0  6.7  8.0  9.5        7.6
70     20205217       Nam   7.5  9.0  7.0   2.0  5.2  2.0  7.0        6.5
80     20205218       Nam   7.0  7.4  6.4   9.0  8.5  9.2  8.4        7.8
90     20205219       Nam   8.2  7.0  8.7   6.5  4.8  4.6  4.8        5.5

In [12]:
df.index

Int64Index([0, 10, 20, 30, 40, 50, 60, 70, 80, 90], dtype='int64')

### Thêm một cột mới

In [27]:
# Thêm vào vị trí cuối cùng của cột
df['Khối B'] = df['Toán'] + df['Lý'] + df['Sinh']
df.head(3)

,Mã học sinh,Họ tên,Ngày sinh,Giới tính,Quê quán,Toán,Lý,Hoá,Sinh,Văn,Sử,Địa,Tiếng Anh,Khối B
0,20205210,Nguyễn Đức Bình,3/10/2000,Nam,Hà Nội,7.0,8.0,8.8,6.8,4.0,5.4,5.6,8.5,21.8
1,20205211,Lê Minh Hoàng,2/11/2001,Nam,Quảng Bình,5.6,7.7,6.0,7.0,6.5,6.0,3.4,9.0,20.3
2,20205212,Trần Trang Nhung,7/5/2002,Nữ,Hà Nam,4.2,6.5,5.4,8.0,7.0,7.5,4.3,5.5,18.7

In [16]:
# Thêm vào vị trí xác định
df.insert(11, 'Khối A3', pd.Series('9', index=df.index))

In [17]:
df

,Mã học sinh,Giới tính,Toán,Lý,Hoá,Sinh,Văn,Sử,Địa,Khối A2,Tiếng Anh,Khối A3
0,20205210,Nam,7.0,8.0,8.8,6.8,4.0,5.4,5.6,11,8.5,9
10,20205211,Nam,5.6,7.7,6.0,7.0,6.5,6.0,3.4,11,9.0,9
20,20205212,Nữ,4.2,6.5,5.4,8.0,7.0,7.5,4.3,11,5.5,9
30,20205213,Nữ,8.0,5.6,6.5,7.0,7.5,6.5,5.6,11,6.0,9
40,20205214,Nam,9.3,5.8,7.5,4.5,6.5,4.5,7.8,11,3.8,9
50,20205215,Nam,5.6,7.0,5.6,5.0,6.4,3.8,8.0,11,4.9,9
60,20205216,Nữ,6.7,6.8,7.3,6.0,6.7,8.0,9.5,11,7.6,9
70,20205217,Nam,7.5,9.0,7.0,2.0,5.2,2.0,7.0,11,6.5,9
80,20205218,Nam,7.0,7.4,6.4,9.0,8.5,9.2,8.4,11,7.8,9
90,20205219,Nam,8.2,7.0,8.7,6.5,4.8,4.6,4.8,11,5.5,9

In [34]:
pd.Series('11',index=df.index)

0    11
1    11
2    11
3    11
4    11
5    11
6    11
7    11
8    11
9    11
dtype: object

In [27]:
A4 = df[['Toán','Lý','Hoá']].sum(axis=1)
A4

0     23.8
10    19.3
20    16.1
30    20.1
40    22.6
50    18.2
60    20.8
70    23.5
80    20.8
90    23.9
dtype: float64

In [26]:
type(A4)

pandas.core.series.Series

In [31]:
# Thêm cột mới vào vị trí xác định
# https://pandas.pydata.org/docs/reference/api/pandas.Series.html
# .insert(position, coulm name, Series(data, index))
df.insert(11, 'Khối A5', pd.Series(A4, index=df.index[0:3]))

In [32]:
df

,Mã học sinh,Giới tính,Toán,Lý,Hoá,Sinh,Văn,Sử,Địa,Khối A2,Tiếng Anh,Khối A5,Khối A4,Khối A3
0,20205210,Nam,7.0,8.0,8.8,6.8,4.0,5.4,5.6,11,8.5,23.8,23.8,9
10,20205211,Nam,5.6,7.7,6.0,7.0,6.5,6.0,3.4,11,9.0,19.3,19.3,9
20,20205212,Nữ,4.2,6.5,5.4,8.0,7.0,7.5,4.3,11,5.5,16.1,16.1,9
30,20205213,Nữ,8.0,5.6,6.5,7.0,7.5,6.5,5.6,11,6.0,NaN,20.1,9
40,20205214,Nam,9.3,5.8,7.5,4.5,6.5,4.5,7.8,11,3.8,NaN,22.6,9
50,20205215,Nam,5.6,7.0,5.6,5.0,6.4,3.8,8.0,11,4.9,NaN,18.2,9
60,20205216,Nữ,6.7,6.8,7.3,6.0,6.7,8.0,9.5,11,7.6,NaN,20.8,9
70,20205217,Nam,7.5,9.0,7.0,2.0,5.2,2.0,7.0,11,6.5,NaN,23.5,9
80,20205218,Nam,7.0,7.4,6.4,9.0,8.5,9.2,8.4,11,7.8,NaN,20.8,9
90,20205219,Nam,8.2,7.0,8.7,6.5,4.8,4.6,4.8,11,5.5,NaN,23.9,9

In [36]:
# Thêm hàng-dòng mới bằng append
col = {'Mã học sinh': '20205120', 'Toán': 10, 'Lý':10, 'Hoá': 10, 'Sử ': 10} # dictionary
df = df.append(col, ignore_index =True)
df.tail(3)

,Mã học sinh,Họ tên,Ngày sinh,Giới tính,Quê quán,Toán,Lý,Hoá,Sinh,Văn,Khối A1,Khối A2,Sử,Địa,Tiếng Anh,Khối B
8,20205218,Nguyễn Văn Thành,5/20/2000,Nam,Hà Nội,7.0,7.4,6.4,9.0,8.5,10,11,9.2,8.4,7.8,23.4
9,20205219,Nguyễn Thanh Oai,5/25/2000,Nam,Hà Nội,8.2,7.0,8.7,6.5,4.8,10,11,4.6,4.8,5.5,21.7
10,20205120,NaN,NaN,NaN,NaN,10.0,10.0,10.0,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN

In [38]:
df_demo = pd.DataFrame([{'A': 12, 'B': 20}])
df_demo

    A   B
0  12  20

### Xóa cột, dòng

In [33]:
df

,Mã học sinh,Giới tính,Toán,Lý,Hoá,Sinh,Văn,Sử,Địa,Khối A2,Tiếng Anh,Khối A5,Khối A4,Khối A3
0,20205210,Nam,7.0,8.0,8.8,6.8,4.0,5.4,5.6,11,8.5,23.8,23.8,9
10,20205211,Nam,5.6,7.7,6.0,7.0,6.5,6.0,3.4,11,9.0,19.3,19.3,9
20,20205212,Nữ,4.2,6.5,5.4,8.0,7.0,7.5,4.3,11,5.5,16.1,16.1,9
30,20205213,Nữ,8.0,5.6,6.5,7.0,7.5,6.5,5.6,11,6.0,NaN,20.1,9
40,20205214,Nam,9.3,5.8,7.5,4.5,6.5,4.5,7.8,11,3.8,NaN,22.6,9
50,20205215,Nam,5.6,7.0,5.6,5.0,6.4,3.8,8.0,11,4.9,NaN,18.2,9
60,20205216,Nữ,6.7,6.8,7.3,6.0,6.7,8.0,9.5,11,7.6,NaN,20.8,9
70,20205217,Nam,7.5,9.0,7.0,2.0,5.2,2.0,7.0,11,6.5,NaN,23.5,9
80,20205218,Nam,7.0,7.4,6.4,9.0,8.5,9.2,8.4,11,7.8,NaN,20.8,9
90,20205219,Nam,8.2,7.0,8.7,6.5,4.8,4.6,4.8,11,5.5,NaN,23.9,9

In [35]:
# Sử dụng từ khóa del
del df['Khối A5']

In [36]:
df

,Mã học sinh,Giới tính,Toán,Lý,Hoá,Sinh,Văn,Sử,Địa,Khối A2,Tiếng Anh,Khối A4,Khối A3
0,20205210,Nam,7.0,8.0,8.8,6.8,4.0,5.4,5.6,11,8.5,23.8,9
10,20205211,Nam,5.6,7.7,6.0,7.0,6.5,6.0,3.4,11,9.0,19.3,9
20,20205212,Nữ,4.2,6.5,5.4,8.0,7.0,7.5,4.3,11,5.5,16.1,9
30,20205213,Nữ,8.0,5.6,6.5,7.0,7.5,6.5,5.6,11,6.0,20.1,9
40,20205214,Nam,9.3,5.8,7.5,4.5,6.5,4.5,7.8,11,3.8,22.6,9
50,20205215,Nam,5.6,7.0,5.6,5.0,6.4,3.8,8.0,11,4.9,18.2,9
60,20205216,Nữ,6.7,6.8,7.3,6.0,6.7,8.0,9.5,11,7.6,20.8,9
70,20205217,Nam,7.5,9.0,7.0,2.0,5.2,2.0,7.0,11,6.5,23.5,9
80,20205218,Nam,7.0,7.4,6.4,9.0,8.5,9.2,8.4,11,7.8,20.8,9
90,20205219,Nam,8.2,7.0,8.7,6.5,4.8,4.6,4.8,11,5.5,23.9,9

In [50]:
# Sử dụng phương thức pop để xóa cột và trả về thông tin của cột này 
deleted_col = df.pop('Khối B')

In [63]:
df

,Mã học sinh,Họ tên,Ngày sinh,Giới tính,Quê quán,Toán,Lý,Hoá,Sinh,Văn,Sử,Địa,Tiếng Anh
0,20205210,Nguyễn Đức Bình,3/10/2000,Nam,Hà Nội,7.0,8.0,8.8,6.8,4.0,5.4,5.6,8.5
1,20205211,Lê Minh Hoàng,2/11/2001,Nam,Quảng Bình,5.6,7.7,6.0,7.0,6.5,6.0,3.4,9.0
2,20205212,Trần Trang Nhung,7/5/2002,Nữ,Hà Nam,4.2,6.5,5.4,8.0,7.0,7.5,4.3,5.5
3,20205213,Nguyễn Thị Linh,12/17/2000,Nữ,Bắc Ninh,8.0,5.6,6.5,7.0,7.5,6.5,5.6,6.0
4,20205214,Đặng Ngọc Sơn,1/25/2000,Nam,Thái Bình,9.3,5.8,7.5,4.5,6.5,4.5,7.8,3.8
5,20205215,Hà Trung Kiên,4/3/2000,Nam,Hà Nội,5.6,7.0,5.6,5.0,6.4,3.8,8.0,4.9
6,20205216,Võ Hoàng Yến,6/21/2000,Nữ,Nam Định,6.7,6.8,7.3,6.0,6.7,8.0,9.5,7.6
7,20205217,Hoàng Trung Sơn,8/27/2000,Nam,Bắc Ninh,7.5,9.0,7.0,2.0,5.2,2.0,7.0,6.5

In [60]:
# Sử dựng phương thức drop, axis =1 (làm việc trên cột)
df.drop('Khối A2', axis = 1, inplace=True)

In [ ]:
# Remove specific multiple columns. 
df.drop(['C', 'D'], axis=1)

In [ ]:
# Remove columns based on column index. 
df.drop(df.columns[[0, 4, 2]], axis=1, inplace=True)

In [56]:
df

,Mã học sinh,Họ tên,Ngày sinh,Giới tính,Quê quán,Toán,Lý,Hoá,Sinh,Văn,Khối A2,Sử,Địa,Tiếng Anh
0,20205210,Nguyễn Đức Bình,3/10/2000,Nam,Hà Nội,7.0,8.0,8.8,6.8,4.0,11,5.4,5.6,8.5
1,20205211,Lê Minh Hoàng,2/11/2001,Nam,Quảng Bình,5.6,7.7,6.0,7.0,6.5,11,6.0,3.4,9.0
2,20205212,Trần Trang Nhung,7/5/2002,Nữ,Hà Nam,4.2,6.5,5.4,8.0,7.0,11,7.5,4.3,5.5
3,20205213,Nguyễn Thị Linh,12/17/2000,Nữ,Bắc Ninh,8.0,5.6,6.5,7.0,7.5,11,6.5,5.6,6.0
4,20205214,Đặng Ngọc Sơn,1/25/2000,Nam,Thái Bình,9.3,5.8,7.5,4.5,6.5,11,4.5,7.8,3.8
5,20205215,Hà Trung Kiên,4/3/2000,Nam,Hà Nội,5.6,7.0,5.6,5.0,6.4,11,3.8,8.0,4.9
6,20205216,Võ Hoàng Yến,6/21/2000,Nữ,Nam Định,6.7,6.8,7.3,6.0,6.7,11,8.0,9.5,7.6
7,20205217,Hoàng Trung Sơn,8/27/2000,Nam,Bắc Ninh,7.5,9.0,7.0,2.0,5.2,11,2.0,7.0,6.5
8,20205218,Nguyễn Văn Thành,5/20/2000,Nam,Hà Nội,7.0,7.4,6.4,9.0,8.5,11,9.2,8.4,7.8
9,20205219,Nguyễn Thanh Oai,5/25/2000,Nam,Hà Nội,8.2,7.0,8.7,6.5,4.8,11,4.6,4.8,5.5
10,20205120,NaN,NaN,NaN,NaN,10.0,10.0,10.0,NaN,NaN,NaN,10.0,NaN,NaN

In [57]:
# Xóa dòng sử dụng drop với axis =0 (xóa dòng)
df.drop(10, axis = 0, inplace=True)
df

,Mã học sinh,Họ tên,Ngày sinh,Giới tính,Quê quán,Toán,Lý,Hoá,Sinh,Văn,Khối A2,Sử,Địa,Tiếng Anh
0,20205210,Nguyễn Đức Bình,3/10/2000,Nam,Hà Nội,7.0,8.0,8.8,6.8,4.0,11,5.4,5.6,8.5
1,20205211,Lê Minh Hoàng,2/11/2001,Nam,Quảng Bình,5.6,7.7,6.0,7.0,6.5,11,6.0,3.4,9.0
2,20205212,Trần Trang Nhung,7/5/2002,Nữ,Hà Nam,4.2,6.5,5.4,8.0,7.0,11,7.5,4.3,5.5
3,20205213,Nguyễn Thị Linh,12/17/2000,Nữ,Bắc Ninh,8.0,5.6,6.5,7.0,7.5,11,6.5,5.6,6.0
4,20205214,Đặng Ngọc Sơn,1/25/2000,Nam,Thái Bình,9.3,5.8,7.5,4.5,6.5,11,4.5,7.8,3.8
5,20205215,Hà Trung Kiên,4/3/2000,Nam,Hà Nội,5.6,7.0,5.6,5.0,6.4,11,3.8,8.0,4.9
6,20205216,Võ Hoàng Yến,6/21/2000,Nữ,Nam Định,6.7,6.8,7.3,6.0,6.7,11,8.0,9.5,7.6
7,20205217,Hoàng Trung Sơn,8/27/2000,Nam,Bắc Ninh,7.5,9.0,7.0,2.0,5.2,11,2.0,7.0,6.5
8,20205218,Nguyễn Văn Thành,5/20/2000,Nam,Hà Nội,7.0,7.4,6.4,9.0,8.5,11,9.2,8.4,7.8
9,20205219,Nguyễn Thanh Oai,5/25/2000,Nam,Hà Nội,8.2,7.0,8.7,6.5,4.8,11,4.6,4.8,5.5

In [61]:
# Xóa nhiều dòng
df.drop([8,9], axis= 0, inplace = True)
df

,Mã học sinh,Họ tên,Ngày sinh,Giới tính,Quê quán,Toán,Lý,Hoá,Sinh,Văn,Sử,Địa,Tiếng Anh
0,20205210,Nguyễn Đức Bình,3/10/2000,Nam,Hà Nội,7.0,8.0,8.8,6.8,4.0,5.4,5.6,8.5
1,20205211,Lê Minh Hoàng,2/11/2001,Nam,Quảng Bình,5.6,7.7,6.0,7.0,6.5,6.0,3.4,9.0
2,20205212,Trần Trang Nhung,7/5/2002,Nữ,Hà Nam,4.2,6.5,5.4,8.0,7.0,7.5,4.3,5.5
3,20205213,Nguyễn Thị Linh,12/17/2000,Nữ,Bắc Ninh,8.0,5.6,6.5,7.0,7.5,6.5,5.6,6.0
4,20205214,Đặng Ngọc Sơn,1/25/2000,Nam,Thái Bình,9.3,5.8,7.5,4.5,6.5,4.5,7.8,3.8
5,20205215,Hà Trung Kiên,4/3/2000,Nam,Hà Nội,5.6,7.0,5.6,5.0,6.4,3.8,8.0,4.9
6,20205216,Võ Hoàng Yến,6/21/2000,Nữ,Nam Định,6.7,6.8,7.3,6.0,6.7,8.0,9.5,7.6
7,20205217,Hoàng Trung Sơn,8/27/2000,Nam,Bắc Ninh,7.5,9.0,7.0,2.0,5.2,2.0,7.0,6.5

In [62]:
df[1:4].index

Int64Index([1, 2, 3], dtype='int64')

In [37]:
df[5:].index

Int64Index([50, 60, 70, 80, 90], dtype='int64')

In [ ]:
# Xóa dòng bất kì
df.drop(df[1:4].index, axis=0, inplace=True)

### Truy cập dữ liệu

In [64]:
df

,Mã học sinh,Họ tên,Ngày sinh,Giới tính,Quê quán,Toán,Lý,Hoá,Sinh,Văn,Sử,Địa,Tiếng Anh
0,20205210,Nguyễn Đức Bình,3/10/2000,Nam,Hà Nội,7.0,8.0,8.8,6.8,4.0,5.4,5.6,8.5
1,20205211,Lê Minh Hoàng,2/11/2001,Nam,Quảng Bình,5.6,7.7,6.0,7.0,6.5,6.0,3.4,9.0
2,20205212,Trần Trang Nhung,7/5/2002,Nữ,Hà Nam,4.2,6.5,5.4,8.0,7.0,7.5,4.3,5.5
3,20205213,Nguyễn Thị Linh,12/17/2000,Nữ,Bắc Ninh,8.0,5.6,6.5,7.0,7.5,6.5,5.6,6.0
4,20205214,Đặng Ngọc Sơn,1/25/2000,Nam,Thái Bình,9.3,5.8,7.5,4.5,6.5,4.5,7.8,3.8
5,20205215,Hà Trung Kiên,4/3/2000,Nam,Hà Nội,5.6,7.0,5.6,5.0,6.4,3.8,8.0,4.9
6,20205216,Võ Hoàng Yến,6/21/2000,Nữ,Nam Định,6.7,6.8,7.3,6.0,6.7,8.0,9.5,7.6
7,20205217,Hoàng Trung Sơn,8/27/2000,Nam,Bắc Ninh,7.5,9.0,7.0,2.0,5.2,2.0,7.0,6.5

In [65]:
# Truy cập nhiều dòng rời rạc
df.iloc[[1,3,5,7]]

,Mã học sinh,Họ tên,Ngày sinh,Giới tính,Quê quán,Toán,Lý,Hoá,Sinh,Văn,Sử,Địa,Tiếng Anh
1,20205211,Lê Minh Hoàng,2/11/2001,Nam,Quảng Bình,5.6,7.7,6.0,7.0,6.5,6.0,3.4,9.0
3,20205213,Nguyễn Thị Linh,12/17/2000,Nữ,Bắc Ninh,8.0,5.6,6.5,7.0,7.5,6.5,5.6,6.0
5,20205215,Hà Trung Kiên,4/3/2000,Nam,Hà Nội,5.6,7.0,5.6,5.0,6.4,3.8,8.0,4.9
7,20205217,Hoàng Trung Sơn,8/27/2000,Nam,Bắc Ninh,7.5,9.0,7.0,2.0,5.2,2.0,7.0,6.5

In [66]:
df.iloc[5:]

,Mã học sinh,Họ tên,Ngày sinh,Giới tính,Quê quán,Toán,Lý,Hoá,Sinh,Văn,Sử,Địa,Tiếng Anh
5,20205215,Hà Trung Kiên,4/3/2000,Nam,Hà Nội,5.6,7.0,5.6,5.0,6.4,3.8,8.0,4.9
6,20205216,Võ Hoàng Yến,6/21/2000,Nữ,Nam Định,6.7,6.8,7.3,6.0,6.7,8.0,9.5,7.6
7,20205217,Hoàng Trung Sơn,8/27/2000,Nam,Bắc Ninh,7.5,9.0,7.0,2.0,5.2,2.0,7.0,6.5

In [67]:
# Truy cập 1 cột
df['Toán']

0    7.0
1    5.6
2    4.2
3    8.0
4    9.3
5    5.6
6    6.7
7    7.5
Name: Toán, dtype: float64

In [ ]:
# : lấy tất cả các dòng của cột mấy
df.iloc[:, 1]

In [68]:
# Truy cập nhiều cột rời rạc
df[['Toán', 'Lý']]

   Toán   Lý
0   7.0  8.0
1   5.6  7.7
2   4.2  6.5
3   8.0  5.6
4   9.3  5.8
5   5.6  7.0
6   6.7  6.8
7   7.5  9.0

In [38]:
# Truy cập nhiều hàng, nhiều cột
df.iloc[:, [1,2]]

   Giới tính  Toán
0        Nam   7.0
10       Nam   5.6
20        Nữ   4.2
30        Nữ   8.0
40       Nam   9.3
50       Nam   5.6
60        Nữ   6.7
70       Nam   7.5
80       Nam   7.0
90       Nam   8.2

In [71]:
# Nhiều cột, nhiều hàng liên tục
# lấy 3 hàng đầu tiên, và từ cột 1 trở đi
df.iloc[:3, 1:]

,Họ tên,Ngày sinh,Giới tính,Quê quán,Toán,Lý,Hoá,Sinh,Văn,Sử,Địa,Tiếng Anh
0,Nguyễn Đức Bình,3/10/2000,Nam,Hà Nội,7.0,8.0,8.8,6.8,4.0,5.4,5.6,8.5
1,Lê Minh Hoàng,2/11/2001,Nam,Quảng Bình,5.6,7.7,6.0,7.0,6.5,6.0,3.4,9.0
2,Trần Trang Nhung,7/5/2002,Nữ,Hà Nam,4.2,6.5,5.4,8.0,7.0,7.5,4.3,5.5

In [72]:
# Nhiều cột, nhiều hàng rời rạc
df.iloc[[1,3,5],[1,3,5]]

            Họ tên Giới tính  Toán
1    Lê Minh Hoàng       Nam   5.6
3  Nguyễn Thị Linh        Nữ   8.0
5    Hà Trung Kiên       Nam   5.6

In [79]:
# Truy cập các phần tử tại cột thõa mãn điều kiện nào đó
# lấy tất cả các hàng có điểm Toán lớn hơn 7 - lọc
df.loc[df.loc[:, ['Toán','Lý'] >=7]

SyntaxError: unexpected EOF while parsing (Temp/ipykernel_6864/37235760.py, line 3)

### Cập nhật các giá trị trên DataFrame

In [77]:
df

,Mã học sinh,Họ tên,Ngày sinh,Giới tính,Quê quán,Toán,Lý,Hoá,Sinh,Văn,Sử,Địa,Tiếng Anh
0,20205210,Nguyễn Đức Bình,3/10/2000,Nam,Hà Nội,7.0,8.0,8.8,6.8,4.0,5.4,5.6,8.5
1,20205211,Lê Minh Hoàng,2/11/2001,Nam,Quảng Bình,5.6,7.7,6.0,7.0,6.5,6.0,3.4,9.0
2,20205212,Trần Trang Nhung,7/5/2002,Nữ,Hà Nam,4.2,6.5,5.4,8.0,7.0,7.5,4.3,5.5
3,20205213,Nguyễn Thị Linh,12/17/2000,Nữ,Bắc Ninh,8.0,5.6,6.5,7.0,7.5,6.5,5.6,6.0
4,20205214,Đặng Ngọc Sơn,1/25/2000,Nam,Thái Bình,9.3,5.8,7.5,4.5,6.5,4.5,7.8,3.8
5,20205215,Hà Trung Kiên,4/3/2000,Nam,Hà Nội,5.6,7.0,5.6,5.0,6.4,3.8,8.0,4.9
6,20205216,Võ Hoàng Yến,6/21/2000,Nữ,Nam Định,6.7,6.8,7.3,6.0,6.7,8.0,9.5,7.6
7,20205217,Hoàng Trung Sơn,8/27/2000,Nam,Bắc Ninh,7.5,9.0,7.0,2.0,5.2,2.0,7.0,6.5

In [78]:
# Cập nhật trên toàn bộ dữ liệu
df.replace(7, 7.2, inplace=True)
df

,Mã học sinh,Họ tên,Ngày sinh,Giới tính,Quê quán,Toán,Lý,Hoá,Sinh,Văn,Sử,Địa,Tiếng Anh
0,20205210,Nguyễn Đức Bình,3/10/2000,Nam,Hà Nội,7.2,8.0,8.8,6.8,4.0,5.4,5.6,8.5
1,20205211,Lê Minh Hoàng,2/11/2001,Nam,Quảng Bình,5.6,7.7,6.0,7.2,6.5,6.0,3.4,9.0
2,20205212,Trần Trang Nhung,7/5/2002,Nữ,Hà Nam,4.2,6.5,5.4,8.0,7.2,7.5,4.3,5.5
3,20205213,Nguyễn Thị Linh,12/17/2000,Nữ,Bắc Ninh,8.0,5.6,6.5,7.2,7.5,6.5,5.6,6.0
4,20205214,Đặng Ngọc Sơn,1/25/2000,Nam,Thái Bình,9.3,5.8,7.5,4.5,6.5,4.5,7.8,3.8
5,20205215,Hà Trung Kiên,4/3/2000,Nam,Hà Nội,5.6,7.2,5.6,5.0,6.4,3.8,8.0,4.9
6,20205216,Võ Hoàng Yến,6/21/2000,Nữ,Nam Định,6.7,6.8,7.3,6.0,6.7,8.0,9.5,7.6
7,20205217,Hoàng Trung Sơn,8/27/2000,Nam,Bắc Ninh,7.5,9.0,7.2,2.0,5.2,2.0,7.2,6.5

In [80]:
# Cập nhật trên cột cụ thể
df['Toán'].replace(6.7, 7, inplace=True)
df

,Mã học sinh,Họ tên,Ngày sinh,Giới tính,Quê quán,Toán,Lý,Hoá,Sinh,Văn,Sử,Địa,Tiếng Anh
0,20205210,Nguyễn Đức Bình,3/10/2000,Nam,Hà Nội,7.2,8.0,8.8,6.8,4.0,5.4,5.6,8.5
1,20205211,Lê Minh Hoàng,2/11/2001,Nam,Quảng Bình,5.6,7.7,6.0,7.2,6.5,6.0,3.4,9.0
2,20205212,Trần Trang Nhung,7/5/2002,Nữ,Hà Nam,4.2,6.5,5.4,8.0,7.2,7.5,4.3,5.5
3,20205213,Nguyễn Thị Linh,12/17/2000,Nữ,Bắc Ninh,8.0,5.6,6.5,7.2,7.5,6.5,5.6,6.0
4,20205214,Đặng Ngọc Sơn,1/25/2000,Nam,Thái Bình,9.3,5.8,7.5,4.5,6.5,4.5,7.8,3.8
5,20205215,Hà Trung Kiên,4/3/2000,Nam,Hà Nội,5.6,7.2,5.6,5.0,6.4,3.8,8.0,4.9
6,20205216,Võ Hoàng Yến,6/21/2000,Nữ,Nam Định,7.0,6.8,7.3,6.0,6.7,8.0,9.5,7.6
7,20205217,Hoàng Trung Sơn,8/27/2000,Nam,Bắc Ninh,7.5,9.0,7.2,2.0,5.2,2.0,7.2,6.5

In [83]:
df.count()

Mã học sinh    8
Họ tên         8
Ngày sinh      8
Giới tính      8
Quê quán       8
Toán           8
Lý             8
Hoá            8
Sinh           8
Văn            8
Sử             8
Địa            8
Tiếng Anh      8
dtype: int64

In [82]:
df['Toán'].count()

8

In [81]:
df['Toán'][df['Toán']>=8].count()

2

In [84]:
df.min()

Mã học sinh           20205210
Họ tên         Hoàng Trung Sơn
Ngày sinh            1/25/2000
Giới tính                  Nam
Quê quán              Bắc Ninh
Toán                       4.2
Lý                         5.6
Hoá                        5.4
Sinh                       2.0
Văn                        4.0
Sử                         2.0
Địa                        3.4
Tiếng Anh                  3.8
dtype: object

In [85]:
df.max()

Mã học sinh         20205217
Họ tên         Đặng Ngọc Sơn
Ngày sinh          8/27/2000
Giới tính                 Nữ
Quê quán           Thái Bình
Toán                     9.3
Lý                       9.0
Hoá                      8.8
Sinh                     8.0
Văn                      7.5
Sử                       8.0
Địa                      9.5
Tiếng Anh                9.0
dtype: object

In [87]:
# Gía trị xuất hiện nhiều nhất của biến định lượng
# Gía trị 5.6 xuất hiện nhiều nhất trong cột Toán
df.mode()

,Mã học sinh,Họ tên,Ngày sinh,Giới tính,Quê quán,Toán,Lý,Hoá,Sinh,Văn,Sử,Địa,Tiếng Anh
0,20205210,Hoàng Trung Sơn,1/25/2000,Nam,Bắc Ninh,5.6,5.6,5.4,7.2,6.5,2.0,5.6,3.8
1,20205211,Hà Trung Kiên,12/17/2000,NaN,Hà Nội,NaN,5.8,5.6,NaN,NaN,3.8,NaN,4.9
2,20205212,Lê Minh Hoàng,2/11/2001,NaN,NaN,NaN,6.5,6.0,NaN,NaN,4.5,NaN,5.5
3,20205213,Nguyễn Thị Linh,3/10/2000,NaN,NaN,NaN,6.8,6.5,NaN,NaN,5.4,NaN,6.0
4,20205214,Nguyễn Đức Bình,4/3/2000,NaN,NaN,NaN,7.2,7.2,NaN,NaN,6.0,NaN,6.5
5,20205215,Trần Trang Nhung,6/21/2000,NaN,NaN,NaN,7.7,7.3,NaN,NaN,6.5,NaN,7.6
6,20205216,Võ Hoàng Yến,7/5/2002,NaN,NaN,NaN,8.0,7.5,NaN,NaN,7.5,NaN,8.5
7,20205217,Đặng Ngọc Sơn,8/27/2000,NaN,NaN,NaN,9.0,8.8,NaN,NaN,8.0,NaN,9.0

In [88]:
df

,Mã học sinh,Họ tên,Ngày sinh,Giới tính,Quê quán,Toán,Lý,Hoá,Sinh,Văn,Sử,Địa,Tiếng Anh
0,20205210,Nguyễn Đức Bình,3/10/2000,Nam,Hà Nội,7.2,8.0,8.8,6.8,4.0,5.4,5.6,8.5
1,20205211,Lê Minh Hoàng,2/11/2001,Nam,Quảng Bình,5.6,7.7,6.0,7.2,6.5,6.0,3.4,9.0
2,20205212,Trần Trang Nhung,7/5/2002,Nữ,Hà Nam,4.2,6.5,5.4,8.0,7.2,7.5,4.3,5.5
3,20205213,Nguyễn Thị Linh,12/17/2000,Nữ,Bắc Ninh,8.0,5.6,6.5,7.2,7.5,6.5,5.6,6.0
4,20205214,Đặng Ngọc Sơn,1/25/2000,Nam,Thái Bình,9.3,5.8,7.5,4.5,6.5,4.5,7.8,3.8
5,20205215,Hà Trung Kiên,4/3/2000,Nam,Hà Nội,5.6,7.2,5.6,5.0,6.4,3.8,8.0,4.9
6,20205216,Võ Hoàng Yến,6/21/2000,Nữ,Nam Định,7.0,6.8,7.3,6.0,6.7,8.0,9.5,7.6
7,20205217,Hoàng Trung Sơn,8/27/2000,Nam,Bắc Ninh,7.5,9.0,7.2,2.0,5.2,2.0,7.2,6.5

In [89]:
# Trung vị
# Gía trị ở giữa của một đại lượng
# Chia tập dữ liệu thành 2 phần có giá trị = nhau
df.median()

C:\Users\vai1hc\AppData\Local\Temp/ipykernel_6864/3992225585.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.median()

Mã học sinh    20205213.50
Toán                  7.10
Lý                    7.00
Hoá                   6.85
Sinh                  6.40
Văn                   6.50
Sử                    5.70
Địa                   6.40
Tiếng Anh             6.25
dtype: float64

In [90]:
# Gía trị trung bình
df.mean()

C:\Users\vai1hc\AppData\Local\Temp/ipykernel_6864/2953648277.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

Mã học sinh    2.020521e+07
Toán           6.800000e+00
Lý             7.075000e+00
Hoá            6.787500e+00
Sinh           5.837500e+00
Văn            6.250000e+00
Sử             5.462500e+00
Địa            6.425000e+00
Tiếng Anh      6.475000e+00
dtype: float64

### Hợp nhất các dữ liệu DataFrame

In [91]:
df1 = pd.DataFrame({'employee': ['Bob', 'Jake', 'Lisa', 'Sue'],'group': ['Accounting', 'Engineering', 'Engineering', 'HR']})
df2 = pd.DataFrame({'employee': ['Lisa', 'Bob', 'Jake', 'Sue'],'hire_date': [2004, 2008, 2012, 2014]})
print(df1); 
print(df2)

  employee        group
0      Bob   Accounting
1     Jake  Engineering
2     Lisa  Engineering
3      Sue           HR
  employee  hire_date
0     Lisa       2004
1      Bob       2008
2     Jake       2012
3      Sue       2014

In [92]:
df3 = pd.merge(df1, df2)
df3

  employee        group  hire_date
0      Bob   Accounting       2008
1     Jake  Engineering       2012
2     Lisa  Engineering       2004
3      Sue           HR       2014

In [93]:
pd.merge(df1, df2, on='employee')

  employee        group  hire_date
0      Bob   Accounting       2008
1     Jake  Engineering       2012
2     Lisa  Engineering       2004
3      Sue           HR       2014

In [94]:
df3 = pd.DataFrame({'name': ['Bob', 'Jake', 'Lisa', 'Sue'],'salary': [70000, 80000, 120000, 90000]})
df3

   name  salary
0   Bob   70000
1  Jake   80000
2  Lisa  120000
3   Sue   90000

In [95]:
pd.merge(df1, df3, left_on='employee', right_on='name')

  employee        group  name  salary
0      Bob   Accounting   Bob   70000
1     Jake  Engineering  Jake   80000
2     Lisa  Engineering  Lisa  120000
3      Sue           HR   Sue   90000

Hợp nhất các dữ liệu với concat & append

In [5]:
# Concat
ser1 = pd.Series(['A', 'B', 'C'], index=[1,2,3])
ser2 = pd.Series(['D', 'E', 'F'], index=[4,5,6])

In [6]:
ser1.append(ser2)

1    A
2    B
3    C
4    D
5    E
6    F
dtype: object

In [7]:
data.head()

,Mã học sinh,Họ tên,Ngày sinh,Giới tính,Quê quán,Toán,Lý,Hoá,Sinh,Văn,Sử,Địa,Tiếng Anh
0,20205210,Nguyễn Đức Bình,3/10/2000,Nam,Hà Nội,7.0,8.0,8.8,6.8,4.0,5.4,5.6,8.5
1,20205211,Lê Minh Hoàng,2/11/2001,Nam,Quảng Bình,5.6,7.7,6.0,7.0,6.5,6.0,3.4,9.0
2,20205212,Trần Trang Nhung,7/5/2002,Nữ,Hà Nam,4.2,6.5,5.4,8.0,7.0,7.5,4.3,5.5
3,20205213,Nguyễn Thị Linh,12/17/2000,Nữ,Bắc Ninh,8.0,5.6,6.5,7.0,7.5,6.5,5.6,6.0
4,20205214,Đặng Ngọc Sơn,1/25/2000,Nam,Thái Bình,9.3,5.8,7.5,4.5,6.5,4.5,7.8,3.8

In [8]:
data.groupby('Quê quán')

In [9]:
data.groupby('Quê quán')['Toán']

In [10]:
# Điểm trung bình Toán giữa các tỉnh thành
data.groupby('Quê quán')['Toán'].mean()

Quê quán
Bắc Ninh      7.75
Hà Nam        4.20
Hà Nội        6.95
Nam Định      6.70
Quảng Bình    5.60
Thái Bình     9.30
Name: Toán, dtype: float64

In [11]:
data.groupby('Quê quán')['Toán', 'Văn'].mean()

C:\Users\vai1hc\AppData\Local\Temp/ipykernel_6896/2184324543.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  data.groupby('Quê quán')['Toán', 'Văn'].mean()

            Toán    Văn
Quê quán
Bắc Ninh    7.75  6.350
Hà Nam      4.20  7.000
Hà Nội      6.95  5.925
Nam Định    6.70  6.700
Quảng Bình  5.60  6.500
Thái Bình   9.30  6.500

In [13]:
# Số học sinh của từng tỉnh tham gia
data.groupby('Quê quán')['Mã học sinh'].count()

Quê quán
Bắc Ninh      2
Hà Nam        1
Hà Nội        4
Nam Định      1
Quảng Bình    1
Thái Bình     1
Name: Mã học sinh, dtype: int64

### Pivot Table

In [14]:
data.head()

,Mã học sinh,Họ tên,Ngày sinh,Giới tính,Quê quán,Toán,Lý,Hoá,Sinh,Văn,Sử,Địa,Tiếng Anh
0,20205210,Nguyễn Đức Bình,3/10/2000,Nam,Hà Nội,7.0,8.0,8.8,6.8,4.0,5.4,5.6,8.5
1,20205211,Lê Minh Hoàng,2/11/2001,Nam,Quảng Bình,5.6,7.7,6.0,7.0,6.5,6.0,3.4,9.0
2,20205212,Trần Trang Nhung,7/5/2002,Nữ,Hà Nam,4.2,6.5,5.4,8.0,7.0,7.5,4.3,5.5
3,20205213,Nguyễn Thị Linh,12/17/2000,Nữ,Bắc Ninh,8.0,5.6,6.5,7.0,7.5,6.5,5.6,6.0
4,20205214,Đặng Ngọc Sơn,1/25/2000,Nam,Thái Bình,9.3,5.8,7.5,4.5,6.5,4.5,7.8,3.8

In [18]:
# Xem điểm trung bình Toán theo Quê quán, Giới tính
data.groupby(['Quê quán', 'Giới tính'])['Toán'].aggregate('mean')

Quê quán    Giới tính
Bắc Ninh    Nam          7.50
            Nữ           8.00
Hà Nam      Nữ           4.20
Hà Nội      Nam          6.95
Nam Định    Nữ           6.70
Quảng Bình  Nam          5.60
Thái Bình   Nam          9.30
Name: Toán, dtype: float64

In [17]:
# .unstack : đổi cột và hàng cho nhau cho dễ nhìn dữ liệu
data.groupby(['Quê quán', 'Giới tính'])['Toán'].aggregate('mean').unstack() # pivot làm bằng tay sử dụng groupby

Giới tính    Nam   Nữ
Quê quán
Bắc Ninh    7.50  8.0
Hà Nam       NaN  4.2
Hà Nội      6.95  NaN
Nam Định     NaN  6.7
Quảng Bình  5.60  NaN
Thái Bình   9.30  NaN

In [19]:
data.pivot_table('Toán', index='Quê quán', columns='Giới tính')

Giới tính    Nam   Nữ
Quê quán
Bắc Ninh    7.50  8.0
Hà Nam       NaN  4.2
Hà Nội      6.95  NaN
Nam Định     NaN  6.7
Quảng Bình  5.60  NaN
Thái Bình   9.30  NaN

In [21]:
data.pivot_table('Toán', index='Giới tính', columns='Quê quán')

Quê quán   Bắc Ninh  Hà Nam  Hà Nội  Nam Định  Quảng Bình  Thái Bình
Giới tính
Nam             7.5     NaN    6.95       NaN         5.6        9.3
Nữ              8.0     4.2     NaN       6.7         NaN        NaN

### Thực hành

In [24]:
births = pd.read_csv('births.csv')

In [25]:
births.head()

   year  month  day gender  births
0  1969      1  1.0      F    4046
1  1969      1  1.0      M    4440
2  1969      1  2.0      F    4454
3  1969      1  2.0      M    4548
4  1969      1  3.0      F    4548

In [26]:
births.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15547 entries, 0 to 15546
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    15547 non-null  int64
 1   month   15547 non-null  int64
 2   day     15067 non-null  float64
 3   gender  15547 non-null  object
 4   births  15547 non-null  int64
dtypes: float64(1), int64(3), object(1)
memory usage: 607.4+ KB

In [40]:
births['decade'] = births['year']//10*10
births

       year  month  day gender  births  decade
0      1969      1  1.0      F    4046    1960
1      1969      1  1.0      M    4440    1960
2      1969      1  2.0      F    4454    1960
3      1969      1  2.0      M    4548    1960
4      1969      1  3.0      F    4548    1960
...     ...    ...  ...    ...     ...     ...
15542  2008     10  NaN      M  183219    2000
15543  2008     11  NaN      F  158939    2000
15544  2008     11  NaN      M  165468    2000
15545  2008     12  NaN      F  173215    2000
15546  2008     12  NaN      M  181235    2000

[15547 rows x 6 columns]

In [42]:
# Thống kê số trẻ giới tính nam và nữ được sinh ra theo từng thập kỉ
# Tất cả chu kì số lượng bé nam sinh ra lớn hơn bé nữ
births.pivot_table('births',index='decade', columns='gender', aggfunc='sum')

gender         F         M
decade
1960     1753634   1846572
1970    16263075  17121550
1980    18310351  19243452
1990    19479454  20420553
2000    18229309  19106428