## 1. Chuẩn bị dữ liệu

In [1]:
import pandas as pd
df = pd.read_csv('shopeep_koreantop_clothing_shop_data.csv')
df.head()

,pk_shop,date_collected,shopid,name,join_month,join_day,join_year,item_count,follower_count,response_time,response_rate,shop_location,rating_bad,rating_good,rating_normal,rating_star,is_shopee_verified,is_official_shop
0,20210613254711738,2021-06-13,254711738,hello.may.ph,April,27,2020,446,17487,10:13:55,96,NaN,181,17510,729,4.81,1,0
1,20210613314198143,2021-06-13,314198143,love.women.shop,September,25,2020,263,8574,10:43:05,73,"San Nicolas,Metro Manila",78,2656,198,4.68,0,0
2,2021061310377223,2021-06-13,10377223,R&O RedOrange,September,27,2016,209,660417,08:32:07,90,"Pasay City,Metro Manila",4647,1071829,18073,4.91,1,0
3,2021061321407329,2021-06-13,21407329,patriciacai,April,30,2017,165,18787,09:10:38,94,"Binondo,Metro Manila",44,18959,215,4.94,1,0
4,2021061311187885,2021-06-13,11187885,Little Market Manila,October,18,2016,467,67371,11:40:59,89,"Caloocan City,Metro Manila",680,39252,2383,4.73,1,0

In [3]:
# Để đơn giản ta thực hiện lọc tập dữ liệu ban đầu theo các thuộc tính sau
df = df[['date_collected', 'shop_location', 'response_time']]
df.head()

  date_collected               shop_location response_time
0     2021-06-13                         NaN      10:13:55
1     2021-06-13    San Nicolas,Metro Manila      10:43:05
2     2021-06-13     Pasay City,Metro Manila      08:32:07
3     2021-06-13        Binondo,Metro Manila      09:10:38
4     2021-06-13  Caloocan City,Metro Manila      11:40:59

## 2. Tách cột dữ liệu có kiểu chuỗi
- Ta có thể sử dụng các phép toán tách chuỗi split Hàm str.split(‘Ký tự phân cách’) 
- Tác dụng tách chuỗi ban đầu str thành các chuỗi con được ngăn cách nhau bởi ký tự phân cách

In [10]:
# Tách cột shop_location thành 2 cột District và City
df['District'] = df.shop_location.str.split(',').str[0]
df['City'] = df.shop_location.str.split(',').str[1]
df.head()

C:\Users\vai1hc\AppData\Local\Temp/ipykernel_14192/1796315379.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['District'] = df.shop_location.str.split(',').str[0]
C:\Users\vai1hc\AppData\Local\Temp/ipykernel_14192/1796315379.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['City'] = df.shop_location.str.split(',').str[1]

,date_collected,shop_location,response_time,District,City
0,2021-06-13,NaN,10:13:55,NaN,NaN
1,2021-06-13,"San Nicolas,Metro Manila",10:43:05,San Nicolas,Metro Manila
2,2021-06-13,"Pasay City,Metro Manila",08:32:07,Pasay City,Metro Manila
3,2021-06-13,"Binondo,Metro Manila",09:10:38,Binondo,Metro Manila
4,2021-06-13,"Caloocan City,Metro Manila",11:40:59,Caloocan City,Metro Manila

## 3. Tách cột dữ liệu có kiểu ngày tháng

In [24]:
# Tách cột date_collected thành 3 cột Day, Month, Year
df['Day'] = pd.to_datetime(df['date_collected'],format='%Y-%m-%d').dt.day
df['Month'] = pd.to_datetime(df['date_collected'],format='%Y-%m-%d').dt.month
df['Year'] = pd.to_datetime(df['date_collected'],format='%Y-%m-%d').dt.year
df

,date_collected,shop_location,response_time,District,City,Day,Month,Year,Hour,Minute,Second
0,2021-06-13,NaN,10:13:55,NaN,NaN,13,6,2021,10,13,55
1,2021-06-13,"San Nicolas,Metro Manila",10:43:05,San Nicolas,Metro Manila,13,6,2021,10,43,5
2,2021-06-13,"Pasay City,Metro Manila",08:32:07,Pasay City,Metro Manila,13,6,2021,8,32,7
3,2021-06-13,"Binondo,Metro Manila",09:10:38,Binondo,Metro Manila,13,6,2021,9,10,38
4,2021-06-13,"Caloocan City,Metro Manila",11:40:59,Caloocan City,Metro Manila,13,6,2021,11,40,59
...,...,...,...,...,...,...,...,...,...,...,...
741,2021-07-06,"Legazpi City,Albay",08:45:30,Legazpi City,Albay,6,7,2021,8,45,30
742,2021-07-06,NaN,08:01:23,NaN,NaN,6,7,2021,8,1,23
743,2021-07-06,NaN,08:46:30,NaN,NaN,6,7,2021,8,46,30
744,2021-07-06,"Binondo,Metro Manila",12:19:44,Binondo,Metro Manila,6,7,2021,12,19,44
745,2021-07-06,"Pasay City,Metro Manila",10:02:42,Pasay City,Metro Manila,6,7,2021,10,2,42

## 4. Tách cột dữ liệu có kiểu thời gian

In [23]:
# Tách cột response_time thành  cột Hour, Minute, Second
df['Hour'] = pd.to_datetime(df['response_time'], format=' %H:%M:%S').dt.hour
df['Minute'] = pd.to_datetime(df['response_time'], format=' %H:%M:%S').dt.minute
df['Second'] = pd.to_datetime(df['response_time'], format=' %H:%M:%S').dt.second
df

,date_collected,shop_location,response_time,District,City,Day,Month,Year,Hour,Minute,Second
0,2021-06-13,NaN,10:13:55,NaN,NaN,13,6,2021,10,13,55
1,2021-06-13,"San Nicolas,Metro Manila",10:43:05,San Nicolas,Metro Manila,13,6,2021,10,43,5
2,2021-06-13,"Pasay City,Metro Manila",08:32:07,Pasay City,Metro Manila,13,6,2021,8,32,7
3,2021-06-13,"Binondo,Metro Manila",09:10:38,Binondo,Metro Manila,13,6,2021,9,10,38
4,2021-06-13,"Caloocan City,Metro Manila",11:40:59,Caloocan City,Metro Manila,13,6,2021,11,40,59
...,...,...,...,...,...,...,...,...,...,...,...
741,2021-07-06,"Legazpi City,Albay",08:45:30,Legazpi City,Albay,6,7,2021,8,45,30
742,2021-07-06,NaN,08:01:23,NaN,NaN,6,7,2021,8,1,23
743,2021-07-06,NaN,08:46:30,NaN,NaN,6,7,2021,8,46,30
744,2021-07-06,"Binondo,Metro Manila",12:19:44,Binondo,Metro Manila,6,7,2021,12,19,44
745,2021-07-06,"Pasay City,Metro Manila",10:02:42,Pasay City,Metro Manila,6,7,2021,10,2,42